# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.filters
*.user
x64/

# Temp files
.vs/
build/
.vscode/
*.ipynb_checkpoints/
*.cmake
Makefile
**/CMakeFiles/
CMakeCache.txt
compile_commands.json

# Other
*.cube
